version: '3.8'

services:
  # Container 1: O Servidor
  servidor:
    image: nginx
    container_name: servidor-web
    ports:
      - "8080:80"
    networks:
      - minha-rede-customizada

  # Container 2: O Cliente
  cliente:
    image: alpine
    container_name: cliente-curl
    # Instala curl e roda o loop infinito
    command: >
      /bin/sh -c "apk add --no-cache curl &&
      while true; do
        echo '--- Solicitando ao servidor ---';
        curl http://servidor;
        sleep 5;
      done"
    depends_on:
      - servidor
    networks:
      - minha-rede-customizada

# Definição da Rede
networks:
  minha-rede-customizada:
    driver: bridge